.header {
  background-color: var(--dark-teal);
  color: white;

  &__lining {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
  }
}
