.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;

  &::after {
    display: block;
    content: '';
    width: 30%;
    height: 1rem;
  }

  &__item {
    width: 30%;

    &-title {
      text-align: center;
    }
  }
}
