.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &::after {
    display: block;
    content: '';
    width: 30%;
    height: 1rem;
  }

  &__project {
    width: 30%;

    &-title {
      text-align: center;
    }
  }
}
