.project {
  padding: 7rem 0;

  p {
    max-width: 60rem;
    margin: 0 auto;
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
  }
}