<header class="header">
  <div class="header__lining">
    <div>
      {{ breadcrumbs }}
    </div>

    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
      </ul>
    </nav>
  </div>
</header>